# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Pytest Cache
.pytest_cache/

# Allure Reports
allure-results/
allure-report/

# IDE Files
.idea/
.vscode/

# Logs
*.log

# Reports
reports/

# Zip Files
*.zip
